<div class="header">
  <div class="header_wrap">
    <h1 class="header_wrap-logo">
      <a href="https://cloud.boosteroid.com/login" class="header_wrap-logo_link">
        <img src="../../../assets/img/logo.png" alt="boosteroid">
        <p class="header_wrap-logo--text">service test mode</p>
      </a>
    </h1>

    <div class="header_wrap-nav">
      <div class="header_wrap-language">eng</div>
      <a class="header_wrap-register" href="https://boosteroid.com/login">sign in</a>
      <a class="header_wrap-buy" href="https://boosteroid.com/login">buy tokens</a>
    </div>
  </div>
</div>
