extends includes/layout.pug

block content
    tr
        td(style=headingStyle)
            h2 Hello from Boosteroid Cloud Platform!
    tr
        td(style=textStyle)
            p Please, <a href="#{ linkHref }" title="Boosteroid Demo Service">use link</a> to obtain you personal demo access for 5 minutes to our cloud computing service.
