extends includes/layout.pug

block content
    tr
        td(style=headingStyle)
            h2 Hi!
    tr
        td(style=textStyle)
            p Please, <a href="#{ linkHref }" title="Boosteroid Demo Service">use link</a> to obtain access to our cloud computing service.
