extends includes/layout.pug

block content
    tr
        td(style=headingStyle)
            h2 Hello from Boosteroid Cloud Platform!
    tr
        td(style=textStyle)
            p Awesome news! One of the machines which you earlier requested now is free! Go to <a href="#{ linkHref }" title="Boosteroid Demo Service">settings page</a> to obtain you personal demo access for 5 minutes to our cloud computing service test mode.
