<page-header></page-header>

<div class="main_wrap">
  <div class="main">
    <div class="main_header">
      <p class="main_header-text"><span class="main_header-text--bold">One more step</span><br/>to proceed to our service test mode</p>
    </div>
    <div class="main_attention">
      <p class="main_attention-text">Pay attention that service will be available for 5 minutes, as it is only a test mode. <br/>Please, make your choice.</p>
    </div>
    <div class="main_services">
      <!--<div class="main_services-gaming"-->
           <!--(click)="onGamingClick()">-->
        <!--<img src="../../../assets/img/gaming_service.png" alt="gaming">-->
        <!--<p>Gaming</p>-->
      <!--</div>-->

      <div class="main_services-rendering"
           (click)="onCloudMachineClick()">
        <img src="../../../assets/img/rendering_service.png" alt="rendering">
        <p>Cloud Computer</p>
      </div>
    </div>
  </div>
</div>
