<page-header></page-header>

<div class="main_wrap">
  <div class="main">
    <div class="main_header">
      <p class="main_header-text"><span class="main_header-text--bold">Thank you!</span><br/>Your feedback is very important for Us !</p>
    </div>
    <div class="main_share">
      <p class="main_share-header">Share this</p>
      <p class="main_share-text">Share this with you family and friends</p>
      <div class="main_share-socials">
        <a class="main_share-socials--facebook" href="#">
          <img src="img/facebook_logo.png" alt="facebook">
        </a>
        <a class="main_share-socials--instagram" href="#">
          <img src="img/instagram_logo.png" alt="instagram">
        </a>
        <a class="main_share-socials--vk" href="#">
          <img src="img/vk_logo.png" alt="vk">
        </a>
      </div>
    </div>
    <button class="main_button">get back</button>
    <a class="main_link" href="#">Try again</a>
  </div>
</div>
