<div class="modal">
  <div class="modal_content">
    <div class="modal_content-img">
      <img src="../../../assets/img/{{ data.img }}" alt="">
    </div>
    <div class="modal_content-text">
      <p class="modal_content-text--main">
        <span class="modal_content-text--success">{{ data.title }}</span><br/><br/>{{ data.text }}
      </p>
    </div>

    <button *ngIf="data?.button"
            class="modal_content-button"
            (click)="onCloseButtonClick()">{{ data.button }}</button>
  </div>
</div>
