.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal_content {
  max-width: 300px;
  width: 100%;
  padding: 50px 10px;
  background: white;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgba(40, 40, 40, 0.15);
}

.modal_content-text--main {
  margin-top: 15px;
  font: 14px "RalewayRegular";
  color: #4c5b60;
  margin-bottom: 30px;
}

.modal_content-text--success {
  font: 22px "RobotoMedium";
  color: #151515;
}

.modal_content-button {
  display: inline-block;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(60deg, #00c6ff 0%, #5c36ee 100%);
  background-image: linear-gradient(30deg, #00c6ff 0%, #5c36ee 100%);
  color: #151515;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 16px "DINPro-CondensedBold";
  cursor: pointer;
}
