<div class="modal">
  <div class="modal_content">
    <div class="modal_content-img">
      <img src="../../../assets/img/service_1_success.png" alt="">
    </div>
    <div class="modal_content-text">
      <p class="modal_content-text--main">
        <span class="modal_content-text--success">Success</span><br/><br/>Message with the link <br/>has been sent to your email.
      </p>
    </div>

    <button class="modal_content-button"
            (click)="onCloseButtonClick()">enter another email</button>
  </div>
</div>
