@font-face {
  font-family: "RalewayLight";
  src: url("../assets/fonts/RalewayLight/RalewayLight.eot");
  src: url("../assets/fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../assets/fonts/RalewayLight/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../assets/fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../assets/fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../assets/fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayMedium";
  src: url("../assets/fonts/RalewayMedium/RalewayMedium.eot");
  src: url("../assets/fonts/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/RalewayMedium/RalewayMedium.woff") format("woff"), url("../assets/fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../assets/fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../assets/fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../assets/fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DINPro-CondensedBold";
  src: url("../assets/fonts/DINPro-CondensedBold/DINPro-CondensedBold.eot");
  src: url("../assets/fonts/DINPro-CondensedBold/DINPro-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/DINPro-CondensedBold/DINPro-CondensedBold.woff") format("woff"), url("../assets/fonts/DINPro-CondensedBold/DINPro-CondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../assets/fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../assets/fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../assets/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../assets/fonts/RobotoLight/RobotoLight.eot");
  src: url("../assets/fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../assets/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../assets/fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../assets/fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../assets/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../assets/fonts/RobotoBold/RobotoBold.eot");
  src: url("../assets/fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../assets/fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
